# Laravel
backend/vendor/
backend/.env
backend/storage/*.key
backend/node_modules/

# Vue.js
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# General
.DS_Store
*.log
composer.lock
composer.json