version: "3"

services:
  sonarqube:
    image: sonarqube:latest
    container_name: sonar-local
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions

volumes:
  sonar_data:
  sonar_extensions:
