@import "tailwindcss";
@import './base.css';

@plugin "@tailwindcss/forms";

@variant dark (&:where(.dark, .dark *));

:root {
    color-scheme: light; /* Default to light */
}

/* 2. Switch OS controls to dark when the .dark class is present */
:root:has(.dark) {
    color-scheme: dark;
}
